<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div>
        <header>
            <h1>Welcome</h1>
            <p>俺は<%= message %>が大好きだ！
            </p>
        </header>
        <section>
            <h1>Body Test</h1>
            <p>
                <span class="my-class">Hello</span>
            </p>
        </section>
        <footer>

        </footer>
    </div>
</body>

</html>