<!DOCTYPE html>
<html>

<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <body>

            <%- include('partials/language') %>
                <div>
                    <header>
                        <h1>
                            <%= myPage.AboutMeText %>
                        </h1>

                    </header>


                    <footer>

                    </footer>
                </div>
        </body>

</html>